@model IEnumerable<ProjectManagementSystem.Models.ApplicationUser>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered">  
    <thead>  
        <tr>  
            <th>@Html.DisplayNameFor(m => m.FullName)</th>  
            <th>@Html.DisplayNameFor(m => m.UserName)</th>  
            <th>@Html.DisplayNameFor(m => m.Email)</th>
            <th>Action(s)</th>  
        </tr>  
    </thead>  
    <tbody>  
        @*@foreach (var u in Model)  
        {  
            <tr>  
                <td>@u.FullName</td>  
                <td>@u.UserName</td>  
                <td>@u.Email</td>
                $1$<td>  
                   @Html.ActionLink("Details","Details",new {id=emp.Id },new {@class="btn btn-info"})  
                   @Html.ActionLink("Edit", "Edit", new { id = emp.Id }, new { @class = "btn btn-primary" })  
                   @Html.ActionLink("Delete", "Delete", new { id = emp.Id }, new { @class = "btn btn-danger" })  
                </td>  #1#
            </tr>  
        }  *@
    </tbody>  
</table>  