@using ProjectManagementSystem.Models.TaskViewModels
@model ProjectManagementSystem.Models.TaskViewModels.TaskViewModel
@{
ViewData["Title"] = "Create Task";
}
<h2>@ViewData["Title"]</h2>
  
<div class="card-body">  
    @using (Html.BeginForm())  
    {  
        @Html.AntiForgeryToken()  
        @Html.HiddenFor(m => m.TaskID)  
        @Html.HiddenFor(m => m.ProjectCode)  
        <div class="row">  
            <div class="col-md-6">  
                <div class="form-group">  
                    @Html.LabelFor(m => m.Deadline)  
                    @Html.EditorFor(m => m.Deadline, new { htmlAttributes = new { @class = "form-control" } })  
                    @Html.ValidationMessageFor(m => m.Deadline)  
                </div>  
            </div>  
        </div> <div class="row">  
            <div class="col-md-6">  
                <div class="form-group">  
                    @Html.LabelFor(m => m.Description)  
                    @Html.TextAreaFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })  
                    @Html.ValidationMessageFor(m => m.Description)  
                </div>  
            </div>  
        </div>
        <div class="form-group">
            <label>Status: </label>
            <select asp-for="Status" asp-items="@TaskViewModel.Statuses" >
                <option value="">Please select status</option>
            </select>
        </div>  
        <div class="form-group">
            <label>Assignee </label>
            <select asp-for="AssigneeId" asp-items="@TaskViewModel.Developers" >
                <option value="">Please select assignee</option>
            </select>
        </div>
        <div class="form-group">  
            <button type="submit" class="btn btn-primary">Create</button>  
                   @Html.ActionLink("Cancel", "Projects","Project",new {@class="btn btn-primary"})
        </div>  
    }  
</div> 