@model ProjectManagementSystem.Models.TaskViewModels.TaskViewModel
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using ProjectManagementSystem.Models.TaskViewModels
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Edit";
}

<div class="card-header bg-dark text-white">
    <h3>Edit Task</h3>
</div>
<div class="card-body">
    <table class="table table-borderless">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.TaskID)
            @Html.HiddenFor(m => m.ProjectCode)

            var loggedInUserRole = UserManager.FindByIdAsync(UserManager.GetUserId(HttpContextAccessor.HttpContext.User)).Result.RoleName;

            @if (loggedInUserRole == "Administrator" || loggedInUserRole == "ProjectManager")
            {
                <div class="form-group">
                    <label > Progress ( % )</label>
                    <input asp-for="Progress" class="form-control"/>
                    <span asp-validation-for="Progress" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Deadline"></label>
                    <input asp-for="Deadline" class="form-control"/>
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label class="mr-4">Assignee: </label>
                    <select asp-for="AssigneeId" asp-items="@TaskViewModel.Developers">
                        @if (@Model.Assignee != null)
                        {
                            <option selected value=@Model.AssigneeId>
                                @Model.Assignee.FullName
                            </option>
                        }
                        @if (Model.Assignee == null)
                        {
                            <option selected value="">
                                Please select assignee
                            </option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <label class="mr-4">Status: </label>
                    <select asp-for="Status" asp-items="@TaskViewModel.Statuses">
                        <option selected value=@Model.Status>@Model.Status</option>
                    </select>
                </div>
            }

            @if (loggedInUserRole == "Developer")
            {
                @Html.HiddenFor(m => m.AssigneeId)
                <div class="form-group">

                    <label>Status: </label>
                    <select asp-for="Status" asp-items="@TaskViewModel.Statuses">
                        <option selected value=@Model.Status>@Model.Status</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Progress ( % )</label>
                    <input asp-for="Progress" class="form-control"/>
                    <span asp-validation-for="Progress" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <button type="submit" class="btn btn-primary mr-3">Update</button>
                @Html.ActionLink("Cancel", "Projects", "Project", new {@class = "btn btn-primary"})
            </div>
        }
    </table>
</div>