@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Task = System.Threading.Tasks.Task
@model IEnumerable<ProjectManagementSystem.Models.Project>
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Projects";
}

<table class="table table-bordered">  
    <thead>  
        <tr>  
            <th>@Html.DisplayNameFor(m => m.ProjectCode)</th>  
            <th>@Html.DisplayNameFor(m => m.ProjectName)</th>  
            <th>Project Manager:</th>
            <th>Action(s)</th>  
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var p in Model)  
        {  
            <tr>  
                <td>@p.ProjectCode</td>  
                <td>@p.ProjectName</td>   
                <td>@p.ProjectManager.FullName</td>  
                <td>Progress: 
                @{
                    var sum = 0;
                    var message = "";
                 
                    @foreach (var t in p.Tasks)
                    {
                        sum += t.Progress;
                    }

                    var progress = p.Tasks.Count > 0 ? sum / p.Tasks.Count : 0;
                    message = progress + " %";
                }
                @message
                    </td> 
                
                @if (UserManager.FindByIdAsync(UserManager.GetUserId(HttpContextAccessor.HttpContext.User)).Result.RoleName == "Administrator" || UserManager.FindByIdAsync(UserManager.GetUserId(HttpContextAccessor.HttpContext.User)).Result.RoleName == "ProjectManager")
                {
                    <td> @Html.ActionLink("Create Task","Create","Task",new { projId = p.ProjectCode },new {@class="btn btn-info"})  </td>
                }
                
                 <td> @Html.ActionLink("Tasks","Tasks","Task",new { prId = p.ProjectCode },new {@class="btn btn-info"})  </td>
     
                @if (UserManager.FindByIdAsync(UserManager.GetUserId(HttpContextAccessor.HttpContext.User)).Result.RoleName == "Administrator")
                {
                    <td>  
                        @Html.ActionLink("Details","Details",new {id= p.ProjectCode},new {@class="btn btn-info"})  
                        @Html.ActionLink("Edit", "Edit", new { id = p.ProjectCode }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = p.ProjectCode }, new { @class = "btn btn-danger" })  
                    </td>  
                }

            </tr>  
        }  
    </tbody>  
</table>  