@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Task = System.Threading.Tasks.Task
@model IEnumerable<ProjectManagementSystem.Models.Project>
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Projects";
}
@{ var loggedInUserRole = UserManager.FindByIdAsync(UserManager.GetUserId(HttpContextAccessor.HttpContext.User)).Result.RoleName; }
<h3 class="mb-3">Projects</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th class="text-center">@Html.DisplayNameFor(m => m.ProjectCode)</th>
        <th class="text-center">@Html.DisplayNameFor(m => m.ProjectName)</th>
        <th class="text-center">Project Manager</th>
        <th class="text-center">Project Progress</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td class="text-center">@p.ProjectCode</td>
            <td class="text-center">@p.ProjectName</td>
            <td class="text-center">@p.ProjectManager.FullName</td>
            <td class="text-center">
                @{
                    var sum = 0;
                    var message = "";

                    @foreach (var t in p.Tasks)
                    {
                        sum += t.Progress;
                    }

                    var progress = p.Tasks.Count > 0 ? sum / p.Tasks.Count : 0;
                    message = progress + " %";
                }
                @message
            </td>

            @if (loggedInUserRole == "Administrator")
            {
                <td>
                    <div class="d-flex justify-content-between">
                        @Html.ActionLink("Details", "Details", new {id = p.ProjectCode}, new {@class = "btn btn-info"})
                        @Html.ActionLink("Edit", "Edit", new {id = p.ProjectCode}, new {@class = "btn btn-primary"})
                        @Html.ActionLink("Delete", "Delete", new {id = p.ProjectCode}, new {@class = "btn btn-danger"})
                    </div>
                </td>
            }

            @if (loggedInUserRole == "Administrator" || loggedInUserRole == "ProjectManager")
            {
                <td> @Html.ActionLink("Create Task", "Create", "Task", new {projId = p.ProjectCode}, new {@class = "btn btn-info"}) </td>
            }

            <td> @Html.ActionLink("Tasks", "Tasks", "Task", new {prId = p.ProjectCode}, new {@class = "btn btn-info"}) </td>


        </tr>
    }
    </tbody>
</table>